
p, li {
    color: var(--txt-general-p-color);
}

h1 {
    color: var(--h1-title-color);
}

h2 {
    color: var(--h3-subtitle-color);
}


.bookish-card-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.general-card-layout {
    border: solid rgb(11, 171, 211);
    padding: 1rem;
    border-radius: 15px;
}

.general-card-layout:hover {
    box-shadow: 0 0 12px 2px #00a3d5;
}


.project-image {
    max-width: 500px;
    max-height:fit-content;
    border-radius: 10px;
}

.answer {
    padding-top: 1rem;
}

.answer h3 {
    color: var(--h3-subtitle-color);
}


.custom-line {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 95%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}


.list-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.list-section li {
    margin-bottom: 1rem;
}

.li-bold {
    color: var(--text-primary-color);
    font-weight: bolder;
}

.image-list-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}


.list-section h3 {
    text-align: center;
    margin-bottom: 1rem;
}


.ul-items {
    padding-left: 2rem; /* or adjust to your liking */
    text-align: left;    /* makes sure the list stays left-aligned */
    justify-content: center;
}

.cstm-carousel {
    margin-bottom: 500px;
    width: 40vw;
    height: auto;
    z-index: 0;
}

.cstm-carousel img {
    border-radius: 10px;
    opacity: 90%;
}

.custom-answer {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    padding-top: 2rem;
    align-items: center;
}


 .logo {
    width: 50px;
 }

 .bookish-card-container > div:first-child {
    text-align: center;
 }

 .bookish-card-container > div:first-child > div {
    display: flex;
    align-items: center;
 }


 .bookish-card-container > div:first-child a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    color: var(--nav-text-color);
}

.bookish-card-container > div:first-child a:hover {
    color: white;
}

@media (max-width: 35rem) {

    .image-list-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-image {
        max-width: 300px;
    }

    .custom-answer {
        flex-direction: column;
    }

    .bookish-card-container > div:first-child {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
     }

     .bookish-card-container {
        width: 90vw;
     }

     .cstm-carousel {
        width: auto;
     }

}